
    /*MOBILE*/
@media screen and (max-width: 900px) {
    body {
        display: block;
    p {
            font-size: clamp(1rem, 2vw, 1.5rem);
        }
    article > h2{
        font-size: clamp(1.5rem, 2vw, 2rem);
    }    
    article{
        width: 100vw;
        padding-top: 10px;
        padding-bottom: 20px;
        border-radius: 5px;
        overflow: hidden;
    }
    header > menu > ul > li{
        font-size: small; 
    }    
    }
    
}